#progress{
    max-width: 350px;
    width: 0px;
}
#cards-container > *{
    height: 100px;
}

main{
    min-height: min-content;
}

#window-container{
    height: 500px;
}

.candidate-container{
    height: 750px;
}

#main-tally-container{
    height: 87.5%;
}

@media only screen and (min-width: 768px) {
    #window-containerm .candidate-container{
        height: 600px;
    }


    #main-tally-container{
        height: 80%;
    }

}

#lc-heading{
    color: #f2f2f2;
}


#party-icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 40px;
    min-width: 40px;
    max-width: 40px;
}

#accordion-container{
    height: 70%;
}

a{
    text-decoration: none !important;

}
tr:not(.group){
    text-align: center;
    object-fit: contain;
}
tbody > tr > td:first-of-type{
    text-align: start !important;
    width: 10%;
}
tr input {
    width: 50%;
}

input[type='search']{
    padding: 5px 10px;
}
