#profile-container{
    height: 50px;
    width: 50px;
}
#profile-name-container{
    width: 50px;
    height: 20px;
    bottom: -18px;
    left: -10px;
}
.navbar-toggler:focus,
.navbar-toggler:active{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}